

<app-nav-bar></app-nav-bar>
<app-product-item *ngFor="let cartitem of cartItems" [product]="cartitem" [amount]="cartitem.amount" (showItem)="showDetail($event)" (change)="setTotal($event)" (cartProd)="setcardProd($event)">

</app-product-item>

<h1 *ngIf="cartItems.length>0">Total Cost is : {{totalCost}} </h1> 
<form *ngIf="cartItems.length>0" >
    <label>Enter Your Name</label>
    <br>
    <input type="text" minlength="3" [(ngModel)]="Name" [ngModelOptions]="{standalone: true}">
    <br>
    <br>
    <label>Enter Your Address</label>
    <br>
    <input type="text" minlength="3"  [(ngModel)]="Address" [ngModelOptions]="{standalone: true}">
    <br>
    <br>
    <label>Enter Your Credit Card Number</label>
    <br>
    
    <input  type="tel" [(ngModel)]="cardNumber" [ngModelOptions]="{standalone: true}" inputmode="numeric" pattern="[0-9\s]{13,19}" autocomplete="cc-number" maxlength="19" placeholder="xxxx xxxx xxxx xxxx">
    <br>
    <br>
    <input type="submit" routerLink="/conf" (click)="onsubmit()">

</form>
<div class="quantity">
    



 